/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

html, body { height: 100%; }
html {
    color-scheme: light dark;
    @include mat.theme((
        color: (
            primary: mat.$magenta-palette,
            tertiary: mat.$violet-palette,
        ),
        typography: Roboto,
        density: 0,
    ))
}
body {
    margin: 0;
    padding: 0;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
}
